<!-- HERO -->
<section class="hero-section">
  <div class="hero-wrapper container">
    <div class="hero-left-side">
      <h1 class="hero-title">CUCINA DI CATHERINA</h1>
      <p class="hero-desc">
        We know,<br />
        you will <span>love</span> our product
      </p>
      <button class="hero-btn" type="button">Buy now</button>
      <ul class="hero-list list">
        <li class="hero-item"><span>14</span>different tastes</li>
        <li class="hero-item">
          <span>31</span>factories around<br />
          the world
        </li>
      </ul>
    </div>

    <img class="hero-img" src="./img/hero.png" alt="Cucina" />
    <ul class="social-list list">
      <li class="social-item">
        <a class="social-link link" href="">
          <svg class="social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-tumblr"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link link" href="">
          <svg class="social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link link" href="">
          <svg class="social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-item">
        <a class="social-link link" href="">
          <svg class="social-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
