<!-- MAIN -->

<section class="section">
  <div class="container">
    <ul class="first-container list">
      <li class="first-list-one">
        <img src="./img/imgsect1.1.png" alt="red tomatoes on a branch" />
        <div class="description">
          <h2 class="heading-description">Classic sauce</h2>
          <p class="paragraph-description">
            The most delicate taste of tomatoes, combined with branded spices
            and white wine, will make your dish incredibly tasty.
          </p>
          <button class="first-section-btn" type="button">Buy now</button>
        </div>
      </li>
      <li class="first-list-two">
        <img src="./img/imgsect1.2.png" alt="red hot peppers" />
        <div class="description">
          <h2 class="heading-description">Spicy sauce</h2>
          <p class="paragraph-description">
            For thrill-seekers, we added hot chili pepper to our sauce, it also
            reveals all the tastes and aromas of the sauce well.
          </p>
          <button class="first-section-btn" type="button">Buy now</button>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="container">
    <ul class="second-container list">
      <li class="">
        <video
        src="https://www.youtube.com/watch?v=1y28NG88D5g&t=52s&ab_channel=MinimalistBaker"
        poster="./img/imgsect2.1.png"
        width="640"
        controls
        preload="metadata"
      ></video>        
        <h2 class="heading-section-two">Bell pepper pasta</h2>
      </li>
      <li class="">
        <video
        src="https://www.youtube.com/watch?v=vT0E8clCqcg&ab_channel=FoodFusion"
        poster="./img/imgsect2.2.png"
        width="640"
        controls
        preload="metadata"
      ></video>  
        <h2 class="heading-section-two">Tomato paste</h2>
      </li>
    </ul>
  </div>
</section>

<section class="section">
  <div class="third-section container">
    <img src="./img/imgsect3.png" alt="tomatoes in the garden" />
  </div>
</section>
