/* ======================= Footer ========================== */

.footer-container {
  text-align: center;
}

.footer-wrapper {
  display: flex;
}
.logo-box {
  margin-left: 60px;
  margin-right: 157px;
  margin-top: 64px;
}
.foot-logo-link {
  display: flex;
  gap: 16px;
  align-items: center;
}
.foot-menu-box {
  margin-right: 171px;
  margin-top: 24px;
}
.foot-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 60px;
  height: 136px;
  gap: 20px;
}
.menu-link {
  height: 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-item :hover,
.foot-item :focus {
  color: rgba(188, 26, 26, 0.5);
}
.adress-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;

  margin-right: 218px;
  margin-top: 44px;
  width: 253px;
  height: 88px;
}
.contacts-address {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.address-item:first-child {
  padding-top: 0;
  padding-bottom: 45px;
}
.address-item .link {
  display: flex;
  gap: 10px;
  align-items: center;

  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-icon {
  fill: currentColor;
}
.social-box {
  height: 144px;
  margin-bottom: 35px;
}
.foot-social-list {
  margin-top: 24px;
}
.foot-social-item {
  margin-bottom: 16px;
}
.foot-social-item .social-link {
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-social-item :hover,
.foot-social-item :focus {
  color: rgba(188, 26, 26, 0.5);
}
.footer-text {
  width: 465px;
  height: 17px;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #979797;
}
.footer-container .footer-text {
  margin-bottom: 10px;
}
.footer-text > a {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: underline;

  color: #ffffff;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======================= /Footer ========================== */
